#Project-specific
log.txt

projects/

workdir/cache/
workdir/Assets/
workdir/pso

AgilitySDK/
Agility.zip

PIX/
pix.zip

#aftermath dumps
*.nv-gpudmp*

#VS-specific
*.blob.cpp
*.user
obj/
bin/
.vs/
vcpkg_installed/