export module HAL:Autogen;
import <HAL.h>;

import Core;

import :PipelineState;
import :SIG;
import :RT;
import :Layout;
import :Slots;
import :PSO;
import :RTX;
import :Enums;
import :RootSignature;
import :Types;

{% for l in parsed.layouts -%}
export import :Autogen.Layouts.{{l.name}};
{% endfor -%}

{%- for v in parsed.tables -%}
{%- set t =  parsed.tables[v] -%}
{%- if t.slot is defined -%}
export import :Autogen.Slots.{{t.name}};
{%endif%}{% if t.options.shader_only is undefined -%}
export import :Autogen.Tables.{{t.name}};
{%endif-%}
{%endfor -%}

{%- for v in parsed.compute_pso -%}
{%- set t =  parsed.compute_pso[v] -%}
export import :Autogen.PSO.{{t.name}};
{% endfor -%}

{%- for v in parsed.graphics_pso -%}
{%- set t =  parsed.graphics_pso[v] -%}
export import :Autogen.PSO.{{t.name}};
{% endfor -%}

{%- for v in parsed.workgraph_pso -%}
{%- set t =  parsed.workgraph_pso[v] -%}
export import :Autogen.PSO.{{t.name}};
{% endfor -%}

{%- for v in parsed.raytrace_pso -%}
{%- set t =  parsed.raytrace_pso[v] -%}
export import :Autogen.RTX.{{t.name}};
{% endfor -%}

{%- for v in parsed.tables -%}
{%- set t = parsed.tables[v] -%}
{%- if t.options["RenderTarget"] is defined %}
export import :Autogen.RT.{{t.name}};
{%- endif %}
{%- endfor %}

{%- for v in parsed.rt -%}
{%- set t = parsed.rt[v] -%}
export import :Autogen.RT.{{t.name}};
{% endfor -%}

export {
	std::optional<SlotID> get_slot(std::string_view slot_name);
	uint get_table_index(SlotID id);
	std::string get_slot_name(SlotID id);
}
