export module FrameGraph:Passes;

import :Base;
import Core;
import HAL;
import <HAL.h>;
export import "../defines.h";

{% for pass in parsed.passes %}
#include "pass/{{pass.name}}.h"
{%- endfor %}
{%- for view in parsed.views %}
#include "pass/{{view.name}}.h"
{%- endfor %}
{%- for pipeline in parsed.pipelines %}
#include "pass/{{pipeline.name}}.pipeline.h"
{%- endfor %}

export namespace Passes
{
{%- for pass in parsed.passes %}
	using ::Passes::{{pass.name}};
{%- endfor %}
}

{%- if parsed.pipelines %}

export namespace Pipelines
{
{%- for pipeline in parsed.pipelines %}
	using ::Pipelines::{{pipeline.name}};
{%- endfor %}
}
{%- endif %}
